---
import FooterLink from "./FooterLink.astro";
const today = new Date();
const year = '2020'
const name = 'Wladimir Moya';
const nickName = '@wladimov';
const separator = "•";
const footer = `${year} - ${today.getFullYear()} ${separator} ${name} ${nickName}`;
---

<footer class="p-8 text-center">
	<section>
		<FooterLink href="https://github.com/wladimov" target="_blank">GitHub</FooterLink>
		<FooterLink href="https://twitter.com/wladimov" target="_blank">Twitter</FooterLink>
		<FooterLink href="https://linkedin.com/in/wladimov" target="_blank">Linkedin</FooterLink>
	</section>
	<section >
		<p class="mt-4 text-gray-600 text-sm">
			{footer}
		</p>
	</section>
</footer>